<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask React SPA</title>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="root"></div>

    <script type="text/javascript">
        const React = window.React;
        const ReactDOM = window.ReactDOM;
        const { BrowserRouter, Route, Link, Switch } = window.ReactRouterDOM;

        

        function Home() {

            return React.createElement(
                  'div',
                  null,
                  React.createElement('h1', null, 'Welcome to the Homepage'),
                  React.createElement('p', null, 'This is the main page of the website.')
              )
        }

        function About() {
            // Insert a h1 title 'About us' and a paragraph stating 'This is about page'
            return React.createElement(
                  'div',
                  null,
                  React.createElement('h1', null, 'About us'),
                  React.createElement('p', null, 'This is about page')
            )
        }

        function Contact() {
            // Insert a h1 title 'Contact Us' and a div with two paragraphs containing:
            // Email: Email: contact@example.com
            // Phone: +1 (555) 123-4567
            return React.createElement(
                'div',
                null,
                React.createElement('h1', null, 'Contact Us'),
                React.createElement(
                    'div',
                    null,
                    React.createElement('p', null, 'Email: contact@example.com'),
                    React.createElement('p', null, 'Phone: +1 (555) 123-4567')
                )
            );
        }

        function App() {
            return React.createElement(
                BrowserRouter,
                null,
                React.createElement(
                    'div',
                    null,
                    React.createElement(
                        'nav',
                        null,
                        React.createElement(
                            'ul',
                            { className: 'nav-horizontal' },
                            React.createElement(
                                'li',
                                null,
                                React.createElement(Link, { to: '/' }, 'Home')
                            ),
                            React.createElement(
                                'li',
                                null,
                                React.createElement(Link, { to: '/about' }, 'About')
                            ),
                            React.createElement(
                                'li',
                                null,
                                React.createElement(Link, { to: '/contact' }, 'Contact')
                            ),
                        )
                    ),
                    React.createElement(
                        Switch,
                        null,
                        React.createElement(Route, { exact: true, path: '/', component: Home }),
                         React.createElement(Route, { exact: true, path: '/about', component: About }),
                         React.createElement(Route, { exact: true, path: '/contact', component: Contact }),
                        // Insert missing routes
                    )
                )
            );
        }

        var root = ReactDOM.createRoot(document.getElementById("root"));
        root.render(React.createElement(App, null))
    </script>


</body>
</html>
