<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flask React SPA</title>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body class="d-flex flex-column h-100">

    <div id="root"></div>

    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <p class="mb-0">&copy; 2024 Blog Application</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

<script type="text/javascript">

    var BrowserRouter = ReactRouterDOM.BrowserRouter;
    var Route = ReactRouterDOM.Route;
    var Link = ReactRouterDOM.Link;
    var Switch = ReactRouterDOM.Switch;
    var useEffect = React.useEffect;

    function Home() {

        return React.createElement("div",
            { className: "home-page text-center" },
            React.createElement("h1", { className: "mb-4" }, "Benvenuti nel nostro Blog"),
            React.createElement("section",
                { className: "intro" },
                React.createElement("p",
                    { className: "lead" },
                    "Questo blog è un punto di incontro per appassionati di tecnologia, viaggi e storie di vita. Qui troverai articoli coinvolgenti, approfondimenti interessanti e prospettive uniche."
                ),
                React.createElement(BlogList, null)

            )
        )
    }

    function PostComponent({ match }) {
        console.log(match)
        const postId = match.params.id;
        const [post, setPost] = React.useState(null);
        const [comments, setComments] = React.useState(null);
        console.log(postId)

        function fetchProduct() {
            fetch(`/api/post/${postId}`)
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    console.log(data.post)
                    setPost(data.post)
                    setComments(data.comments)
                })
                .catch(function (error) {
                    console.error(error)
                });
        }

        React.useEffect(() => {
            fetchProduct();
        }, [postId]);

        return React.createElement(
            'div',
            { className: "card", style: { width: "18rem", margin: "0 auto" } },
            post ? React.createElement('div',
                { className: "card-body" },
                React.createElement("h1", { className: "card-title prodotto-title" }, post.title),
                React.createElement("p", { className: "card-text prodotto-text", id: `${postId}` },
                    React.createElement("strong", null, "Autore:"),
                    post.author
                ),
                React.createElement("p", { className: "card-text prodotto-text" },
                    React.createElement("strong", null, "Data:"),
                    post.date
                ),
                React.createElement("p", { className: "card-text prodotto-text" },
                    React.createElement("strong", null, "Categoria:"),
                    post.category
                ),
                React.createElement("p", { className: "card-text prodotto-text" },
                    React.createElement("strong", null, "Contenuto:"),
                    post.content
                ),
                React.createElement("h3", { className: "card-title prodotto-title" }, "Commenti"),
                comments ? comments.map(function (comment) {
                    return React.createElement("p", { className: "card-text prodotto-text", key: comment.id },
                        React.createElement("strong", null, "Autore:"),
                        comment.author,
                        React.createElement("br", null),
                        React.createElement("strong", null, "Data:"),
                        comment.date,
                        React.createElement("br", null),
                        React.createElement("strong", null, "Contenuto:"),
                        comment.content
                    );
                }) : React.createElement("p", null, "Nessun commento disponibile")
            ) : React.createElement("p", null, "Recupero dati prodotto...")
        );
    }

    function BlogList() {
        const [posts, setPosts] = React.useState(null);

        function fetchProducts() {
            fetch('/api/posts')
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    setPosts(data);
                    console.log(posts);
                })
                .catch(function (error) { console.error(error); });
        }

        useEffect(() => {
            fetchProducts();
        }, []);


        return React.createElement(
            'div',
            { className: 'content' },
            React.createElement('h1', null, 'Blog Posts'),

            React.createElement(
                'div',
                null,

                React.createElement(
                    'div', null,
                    posts
                        ? posts.map(function (post) {
                            return React.createElement(
                                'div',
                                { className: 'card mb-4', key: post.id },
                                React.createElement('a', { className: 'card-title' },
                                    React.createElement(Link, { to: `/react/post/${post.id}`, className: "text-decoration-none" },
                                        post.title
                                    )
                                ),
                                React.createElement('h6', { className: 'card-subtitle mb-2 text-muted' }, post.author),
                                React.createElement('p', { className: 'card-text' }, post.date),
                                React.createElement('p', { className: 'card-text' }, post.category)
                            )
                        }) : React.createElement('div', null, 'Nessun dato disponibile')
                )
            )
        )
    }

    function App() {
        return React.createElement(
            BrowserRouter,
            null,
            React.createElement("header", null,
                React.createElement(
                    'header',
                    null,
                    React.createElement(
                        'nav',
                        { className: 'navbar navbar-expand-lg navbar-dark bg-dark' },
                        React.createElement(
                            'div',
                            { className: 'container' },
                            React.createElement(Link, { to: '/react', className: 'navbar-brand' }, 'Blog App'),
                            React.createElement("button", {
                                className: "navbar-toggler",
                                type: "button",
                                data_bs_toggle: "collapse",
                                data_bs_target: "#navbarNav"
                            }, React.createElement("span", { className: 'navbar-toggler-icon' }, ''))
                        ),
                        React.createElement(
                            'div',
                            { className: 'collapse navbar-collapse', id: "navbarNav" },
                            React.createElement(
                                'ul',
                                { className: 'navbar-nav ms-auto' },
                                React.createElement(
                                    'li',
                                    { className: 'nav-item' },
                                    React.createElement(Link, { to: '/react', className: 'nav-link' }, 'Home')
                                ),
                                React.createElement(
                                    'li',
                                    { className: 'nav-item' },
                                    React.createElement(Link, { to: '/react/posts', className: 'nav-link' }, 'Blog Posts')
                                )
                            )

                        )
                    ),
                )
            ),
            React.createElement(
                Switch,
                { className: "container mt-4 flex-shrink-0" },
                React.createElement(Route, { exact: true, path: '/react', component: Home }),
                React.createElement(Route, { path: '/react/posts', component: BlogList }),
                React.createElement(Route, { path: '/react/post/:id', component: PostComponent }),
            )
        );
    }

    var root = ReactDOM.createRoot(document.getElementById("root"));
    root.render(React.createElement(App, null))

</script>

</html>